<p-toast baseZIndex="99999999" autoZIndex="false"></p-toast>
<app-sidebar style="display:none;"></app-sidebar> 
<div class="right_sec right_part">
    <h3 class="text-center mb-4 pb-4 pt-3 temp_heading">Templates</h3>
    <div class="col-12 p-0">
        <div class="templates_wrapper" *ngIf="!show_particularTemplateList">
            <ngx-spinner name="templatesList" bdOpacity=0.4 bdColor="rgb(253 249 252)" size="medium" color="#2457c7" type="ball-spin-fade"
                [fullScreen]="false">
            
            </ngx-spinner>
            <div class="row pt-4 mt-4 temp_lst_wrp">
                <div class="col-md-3 pl-4 btn_sec">
                <app-csv-import headerType="Template Name" name="Templates" action="importTemplate" (data)="eventHandler($event)"></app-csv-import>
                <!-- <button type="button" (click)="dt.exportCSV()" class="btn btn-primary btn-5 small-icon-btn" pTooltip="Export Templates" tooltipPosition="right">
                        <i class="fa fa-download"></i>
                </button>     -->
                
                <button type="button" (click)="exportTemplateMessages()" class="btn btn-primary btn-5 small-icon-btn" pTooltip="Export Templates" tooltipPosition="right">
                    <i class="fa fa-download"></i>
            </button> 

                </div>
                <div class="col-md-6 p-0 search_temp">
                    <div class="input-group mb-3 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" placeholder="Search Templates" class="form-control"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" />
                    </div>
                </div>
            </div>
            <div class="row new_template template_sec no-border">
                <div class="pb-3">
                    <div *ngIf="emptytemplates" class="col-12 text-center">
                        <img src="assets/images/export.png" />
                        <h5>You have no templates, create a new <br>template or import</h5>
                    </div>
                    <div class="col-12 p-0 text-center mt-2 mb-3">
                        <button type="button" (click)="addTempalte()" class="btn btn-primary  add_template"><i class="fa fa-plus"></i> Add new template</button>
                    </div>
                    <div>
                    <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 275px)'}">
                    <p-table #dt [exportFilename]="csvExportName" [columns]="colstags" dataKey="id" styleClass="ui-table-cars" selectionMode="single"
                        [value]="templates" [reorderableColumns]="true" (onRowReorder)="onRowReorder($event)" editMode="row">
                        <ng-template pTemplate="header" (onRowSelect)="onRowSelect($event)" >
                            <tr style="display:none;">
                                <th style="width:2.5em"></th>
                                <!-- <th style="width:2.5em"></th> -->
                                <th *ngFor="let col of colstags" pReorderableColumn [ngSwitch]="col.field">
                                </th>
                                <th style="width:2.5em"></th>
                                <!-- <th style="width:1em"></th> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-group let-editing="editing" let-rowData let-columns="columns"
                            let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="rowData" [pReorderableRow]="rowIndex" [pEditableRow]="rowData">
                                <td style="width:2.5em">
                                    <i class="fa fa-arrows drag_icon" pTooltip="Drag to change order" tooltipPosition="right" style="display: flex;justify-content: center;" pReorderableRowHandle></i>
                                </td>
                                <!-- <td style="width:3.5em">
                                    <i (click)="particularTag(rowData.id)" class="fa fa-envelope"></i>
                                </td> -->
                                <td class="p-0" id=row_{{rowIndex}}>
                                    <div class="template_name">
                                        <img src="assets/images/envelope.png" class="mr-3 mt--5" (click)="particularTag(rowData.id)">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">                                            
                                            <input id="templateName" pInputText type="text" [(ngModel)]="rowData.name" required class="editable-input">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span pReorderableRowHandle  (click)="particularTag(rowData.id)">{{rowData.name}}</span>
                                        </ng-template>
                                    </p-cellEditor>
                                    </div>
                                </td>
                                <td style="width:4.5em" class="template_actions" style="text-align:center;width:4.5em;">
                                    <i pTooltip="Edit Template" tooltipPosition="right"  *ngIf="!editing" type="button" pInitEditableRow class="fa fa-pencil text-info" aria-hidden="true"style="margin-right: .5em" (click)="onRowEditInit(rowData,rowIndex)"></i>
                                    <i pTooltip="Save Template" tooltipPosition="right" *ngIf="editing" type="button" pSaveEditableRow class="fa fa-check text-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></i>
                                    <i pTooltip="Delete Template" tooltipPosition="right" type="button" pCancelEditableRow class="fa fa-trash text-danger"
                                    aria-hidden="true"(click)="onRowEditCancel(rowData, rowIndex)"></i>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr *ngIf="!emptytemplates">
                                <td colspan="3">No records found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    </p-scrollPanel>
                    </div>
                </div>
            </div>
        </div>
        <div class="template_messages_wrapper" *ngIf="show_particularTemplateList">
            <div class="row">
                <div class="col-6">
                <h3 class="ml-2 mt-2 mb-4"><i (click)="showAllTemplates()" class="fa fa-arrow-left arrow arrow1"></i> Messages</h3>
                </div>
            </div>
            <div class="relative">
                <ngx-spinner name="messageList" bdOpacity=0.4 bdColor="rgb(253 249 252)" size="medium" color="#2457c7" type="ball-spin-fade" [fullScreen]="false">
                    <!-- <p style="color: white"> Loading... </p> -->
                </ngx-spinner>
                <div *ngIf="show_particularTemplateList_Nouser" class="row">
				
					<div class="col-12 p-0 text-center mt-1">
						<button type="button" (click)="addTempaltemessage()" class="btn btn-primary mb-3 add_template"><i class="fa fa-plus"></i> Add new message</button>
					</div>
						
                    <p class="col-md-12 font-weight-bolder mb-4">{{no_user}}</p>
                </div>
               
                <div *ngIf="!show_particularTemplateList_Nouser" class="row new_template template_sec tem_sec no-border">
                    <div style="width: 100%;" class="row new_template template_sec tem_sec">
                        <div class="col-6 p-0 text-center mt-1">
                            <button type="button" (click)="addTempaltemessage()" class="btn btn-primary mb-3 add_template"><i class="fa fa-plus"></i> Add new message</button>
                        </div>
                        <div class="col-6 p-0 text-center mt-1">
                            <button type="button" (click)="ds.exportCSV()" class="btn btn-primary mb-3 add_template"><i style="margin-right: 10px;" class="fa fa-download"></i> Export Messages</button>
                        </div>
                    </div>
                    <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 275px)'}">
                    <p-table #ds [exportFilename]="csvExportMessageName" [columns]="colstemplates" styleClass="ui-table-cars" [value]="templateuser"  [reorderableColumns]="true" (onRowReorder)="onRowReorderMessage($event)">
                        <ng-template pTemplate="header">
                          
                        </ng-template>
                        <ng-template pTemplate="body" pReorderableColumn let-group let-rowData let-columns="columns"
                            let-rowIndex="rowIndex">
                            <tr  [pReorderableRow]="rowIndex">
                                <td style="cursor: pointer;width:2.5em">
                                    <i class="fa fa-arrows" pTooltip="Drag to change order" tooltipPosition="right" style="display: flex;justify-content: center;font-size: 20px;margin-top: -20px;" pReorderableRowHandle></i>
                                </td>
                                <td class="d-none">
                                    {{rowData.template_name}}
                                </td>
                                <td class="temp_msg_wrap" style="cursor: pointer;" pReorderableRowHandle>
                                    <div class="msg_wrap tabbing">                          
                                        <textarea type="text" rows="2" name="notes" class="form-control input-amount-enter" id="templateMessage_{{rowIndex}}" placeholder="Type here">{{rowData.message}}</textarea>
                                    </div>
                                </td>
                                <td style="width:3.5em;padding-left:0px !important;"  class="template_actions">
                                    <div class="mr-2" >
                                        <i pTooltip="Save Message" tooltipPosition="left" (click)="submit_updatemessage(rowIndex,rowData.id,rowData.template_id,rowData.message)"
                                        class="fa fa-check text-waning mr-3" aria-hidden="true"style="cursor: pointer;"></i>
                                        <i pTooltip="Delete Message" tooltipPosition="bottom" (click)="deleteTempalteMessage(rowIndex,rowData.id)" class="fa fa-trash text-danger"
                                            aria-hidden="true"style="cursor: pointer;"></i>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    
                    </p-scrollPanel>
                </div>

                

            </div>
        </div>
    </div>
</div>

<!-- TEMAPLATE ADD AND UPDATE MODAL START -->
<p-dialog [(visible)]="displayaddTemplateModal" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000" class="addTagModal">
    <p-header class="chat-msg-box">
        <h5>ADD TEMPLATE</h5>
    </p-header>
    <p-messages [(value)]="msgs"></p-messages>
    <form [formGroup]="data" (ngSubmit)="submit()" class="form-group mt-2">
        <input type="text" formControlName="template_name" [ngClass]="classForValidation('template_name')"
            name="template_name" class="form-control input-amount-enter" id="template_name"
            placeholder="Template name here">
        <div *ngIf="submitted && h.template_name.errors" class="invalid-feedback">
            <div *ngIf="h.template_name.errors.required">Tag is required</div>
        </div>
        <div *ngIf="submitted && !h.template_name.errors" class="valid-feedback">
            <div>TAG is correct</div>
        </div>
        <div class="mt-1 text-center">
            <button class="btn btn-primary btn-lg w-50 mt-5 send-message-button">Submit Template</button>
        </div>
    </form>
</p-dialog>

<!-- TEMAPLATE MESSAGE ADD AND UPDATE MODAL START -->
<p-dialog [(visible)]="displayaddMessageModal" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"class="addTagModal">
    <p-header class="chat-msg-box">
        <h5>ADD MESSAGE</h5>
    </p-header>
    <p-messages [(value)]="lmsgs"></p-messages>
    <form [formGroup]="data_message" (ngSubmit)="submit_addmessage()" class="form-group mt-2">
        <!-- <input type="text" formControlName="message" [ngClass]="classForValidation_message('message')" name="message" class="form-control input-amount-enter" id="message" placeholder="Message"> -->
        <textarea formControlName="message" [ngClass]="classForValidation_message('message')" name="message"
            class="form-control input-amount-enter" id="message" placeholder="Message" rows="3"></textarea>
        
        <div *ngIf="submitted_message && g.message.errors" class="invalid-feedback">
            <div *ngIf="g.message.errors.required">Message is required</div>
        </div>
        <div *ngIf="submitted_message && !g.message.errors" class="valid-feedback">
            <div>Message is correct</div>
        </div>
        <div class="mt-1 text-center">
            <button class="btn btn-primary btn-lg w-50 mt-5 send-message-button">Save Message</button>
        </div>
    </form>
</p-dialog>